doctype 5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    style.
      .aero-hide { display: none; }
      
    script.
      window.__config__ = {
        pageId: !{JSON.stringify(pageId)},
        appId: !{JSON.stringify(aerobaticAppId)},
        airportUrl: !{JSON.stringify(aerobaticAirportUrl)}
        //- Any other application specific config settings can be specified here.
      };

    script(data-main="#{aerobaticAirportUrl}/cockpit", src="#{aerobaticAirportUrl}/require.js")

    block head
  body
    .aero-hide
      h2 Barnstormer Music

      block content

