doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title

    script.
      window.__config__ = {
        pageId: !{JSON.stringify(pageId)},
        aerobaticAppOwner: !{JSON.stringify(owner)},
        aerobaticAppRepo: !{JSON.stringify(repo)},
        airportUrl: !{JSON.stringify(aerobaticAirportUrl)}
        //- Any other application specific config settings can be specified here.
      };

    script(src="#{cockpitUrl}")

    block head
  body
    .aero-hide
      block content

